.queue .width {
  min-width: 140px !important;
  max-width: 140px !important;
  width: 140px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.queue .width2 {
  min-width: 200px !important;
  max-width: 200px !important;
  width: 200px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep {
  .not-data {
    width: 100%;
    text-align: center !important;
    font-weight: bold;
  }

  clr-datagrid clr-control-container,
  clr-datagrid clr-select-container {
    margin-top: 0 !important;
  }
}
.one select.priority {
  background-color: #2980b9 !important;
  color: black !important;
}

.two select.priority {
  background-color: #c0392b !important;
  color: black !important;
}
.three select.priority {
  background-color: #d35400 !important;
  color: black !important;
}
.four select.priority {
  background-color: #f39c12 !important;
  color: black !important;
}
.five select.priority {
  background-color: #f1c40f !important;
  color: black !important;
}
.six select.priority {
  background-color: #34495e !important;
  color: black !important;
}
.seven select.priority {
  background-color: #16a085 !important;
  color: black !important;
}

.eight select.priority {
  background-color: #2980b9 !important;
  color: black !important;
}

::ng-deep {
  .clr-control-container,
  .clr-textarea-container {
    display: block;
    width: 100%;

    // Override to make select full width
    .clr-select-wrapper,
    .clr-select,
    .clr-textarea-wrapper,
    .clr-textarea {
      width: 100%;
    }

    // Override to make search full width
    .hf-search-wrapper > .hf-search,
    .hf-search-select-input,
    .hf-search-input-text-container {
      width: 100%;
    }

    // Override to make input full width
    .clr-input-wrapper > .clr-input {
      width: 100%;
    }

    // Override to make password full width
    .clr-input-wrapper {
      width: 100%;

      & > .clr-input-group {
        max-width: 100%;
        width: 100%;
        padding-right: 0.4rem;

        & > input {
          width: calc(100% - 1rem);
        }
      }
    }
  }
}
