.card-text {
  font-size: 12px;
  color: #808080;
}

.good {
  font-weight: bolder;
  color: #27ae60;
}

.poor {
  font-weight: bolder;
  color: #c0392b;
}

.warning {
  font-weight: bolder;
  color: #f1c40f;
}