<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Sitemap
      <h5 class="hint">Reset Your password</h5>
    </section>
    <div
      class="login-group"
      [formGroup]="resetPasswordForm"
      *ngIf="!id; else doReset"
    >
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input
          type="email"
          name="email"
          clrInput
          placeholder="Email"
          formControlName="email"
        />

        <clr-control-helper *ngIf="email.invalid"
          >Enter your email</clr-control-helper
        >
        <clr-control-error *clrIfError="'required'"
          >Email is a required field</clr-control-error
        >
        <clr-control-error *clrIfError="'pattern'"
          >Invalid email</clr-control-error
        >
      </clr-input-container>

      <div class="alert alert-info" role="alert" *ngIf="success">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">
              Reset Password Link sent successfully! Please Check your email
            </span>
          </div>
        </div>
      </div>
      <div class="error active" *ngIf="message">{{ message }}</div>
      <button
        type="submit"
        class="btn btn-primary"
        [ngStyle]="{ margin: true ? '1rem 0 0 0' : '0' }"
        [disabled]="resetPasswordForm.invalid"
        (click)="getResetPasswordLink($event)"
      >
        Get Reset Password Link
      </button>
      <a [routerLink]="['/']" class="signup">Login into Sitemap</a>
      <div *ngIf="isloading" class="progress loop" style="font-size: 1px">
        <progress></progress>
      </div>
    </div>

    <ng-template #doReset>
      <div class="login-group" [formGroup]="doResetPasswordForm">
        <clr-password-container>
          <label>Password</label>
          <input
            type="password"
            name="password"
            clrPassword
            placeholder="Password"
            formControlName="password"
          />
          <clr-control-helper>Enter your password</clr-control-helper>
          <clr-control-error *clrIfError="'required'"
            >Password is a required field</clr-control-error
          >
          <clr-control-error *clrIfError="'pattern'"
            >Password should have at least 8 characters long,1 lowercase letter,
            1 capital letter, 1 number, 1 special character</clr-control-error
          >
        </clr-password-container>

        <clr-password-container>
          <label>Repeat Password</label>
          <input
            clrPassword
            placeholder="Repeat Password"
            name="password"
            formControlName="cPassword"
          />
          <clr-control-helper>Repeat Password (required)</clr-control-helper>
          <clr-control-error *clrIfError="'required'"
            >Repeat password is a required field</clr-control-error
          >
          <clr-control-error *clrIfError="'mustMatch'"
            >Passwords do not match</clr-control-error
          >
        </clr-password-container>
        <div class="alert alert-success" role="alert" *ngIf="doSuccess">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">
                you resetted your passowrd successfully
              </span>
            </div>
          </div>
        </div>
        <div class="error active" *ngIf="doMessage">{{ doMessage }}</div>
        <button
          type="submit"
          class="btn btn-primary"
          [ngStyle]="{ margin: true ? '1rem 0 0 0' : '0' }"
          [disabled]="doResetPasswordForm.invalid"
          (click)="doResetPasswordLink($event)"
        >
          Reset Password
        </button>
        <a [routerLink]="['/']" class="signup">Login into Sitemap</a>
        <div *ngIf="isloading" class="progress loop" style="font-size: 1px">
          <progress></progress>
        </div>
      </div>
    </ng-template>
  </form>
</div>
